html {
    scroll-behavior: smooth;
}
body{
    background-color: #ffffff;
}
/*Top Navbar*/
.navbar{
    background-color: #33687b !important;
}
.navbar img{
    margin-top: 0 auto;
    margin-left: 2%;
}
/*Hero*/
.jumbotron{
    width: 100%;
    background-color: #C1133D;
    padding: 1%;
    border-radius: 0;
}
.jumbotron img{
    width: 100%;
}
.jumbotron h1{
    position: absolute;
    top: 30%;
    right: 5%;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 70px;
    font-weight: 600;
    text-align: center;
    letter-spacing: -2px;
    color: #ffffff;
}
.btn{
    width: 300px;
    height: 70px;
    background-color: #C8E4FF !important;
    line-height: 40% !important;
}
.btn img{
    height: 50px;
    width: 50px;
    margin-right: 5%;
}
.apple{
    position: absolute;
    top: 60%;
    left: 10%;
}
.google{
    position: absolute;
    top: 75%;
    left: 10%;
}

/*Content*/
.content{
    margin-top: 3%;
}
.content h1{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: -2px;
    color: #282828;
    margin-left: 7%;
}
.content p{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #000000;
    margin-left: 7%;
    width: 86%;
}

/*Image Cards*/
.cardContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.card{
    margin: 2%;
    margin-bottom: 5%;
}

/*Footer*/
.cityFooter{
    background-image: url(../images/cbus\ night.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    left: 0;
    right: 0;
    height: 272px;
    width: 100%;
}
.cityFooter div{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.cityFooter img{
    margin-left: 25%;
    margin-top: 7%;
    height: 100px;
}
.cityFooter p{
    text-align: left;
    margin-left: 10%;
    margin-top: 7.5%;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

/*Media Queries*/
@media screen and (max-width: 430px) {
    .navbar img{
        height: 40px;
    }
    .jumbotron h1{
        position: absolute;
        top: 22%;
        right: 5%;
        font-size: 22px;
    }
    .btn{
        width: 100px;
        height: 25px;
        font-size: 8px !important;
        text-align: right !important;
    }
    .btn img{
        height: 10px;
        width: 10px;
        margin-left: 0 !important;
    }
    .apple{
        position: absolute;
        top: 30%;
        left: 8%;
    }
    .google{
        position: absolute;
        top: 35%;
        left: 8%;
    }
}