html {
    scroll-behavior: smooth;
}
body{
    background-color: #ffffff;
}
/*Top Navbar*/
.navbar{
    background-color: #33687b !important;
}
.navbar img{
    margin-top: 0 auto;
    margin-left: 2%;
}
/*Hero*/
.jumbotron{
    width: 100%;
    background-color: #467d91;
    padding: 1%;
    border-radius: 0;
}
.jumbotron img{
    width: 100%;
}
.jumbotron h1{
    position: absolute;
    top: 30%;
    right: 5%;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 70px;
    font-weight: 600;
    text-align: center;
    letter-spacing: -2px;
    color: #ffffff;
}
.btn{
    width: 300px;
    height: 70px;
    background-color: #C8E4FF !important;
    line-height: 60% !important;
}
.btn img{
    height: 50px;
    width: 50px;
    margin-right: 5%;
}
.apple{
    position: absolute;
    top: 60%;
    left: 10%;
}
.google{
    position: absolute;
    top: 75%;
    left: 10%;
}

/*Content*/
.content{
    margin-top: 3%;
}
.content h1{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: -2px;
    color: #282828;
    margin-left: 7%;
}
.content p{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #000000;
    margin-left: 7%;
    width: 86%;
}

/*Image Cards*/
.cardContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.card{
    margin: 2%;
    margin-bottom: 5%;
}

/*Footer*/
.cityFooter{
    background-image: url(../images/cbus\ night.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    left: 0;
    right: 0;
    height: 272px;
    width: 100%;
}
.cityFooter div{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.cityFooter img{
    height: 100px;
    margin-top: 6%;
}
.cityFooter p{
    text-align: left;
    padding-top: 7%;
    margin-left: 10%;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

/*Media Queries*/
/*Extra Small*/
@media screen and (max-width: 575px) {
    .navbar img{
        height: 40px;
    }
    .jumbotron h1{
        position: absolute;
        top: 85px;
        right: 5%;
        font-size: 24px;
    }
    .btn{
        width: 116px;
        height: 20px;
        font-size: 6px !important;
        text-align: right !important;
    }
    .btn img{
        height: 10px;
        width: 10px;
    }
    .apple{
        position: absolute;
        top: 25%;
        left: 8%;
    }
    .google{
        position: absolute;
        top: 30%;
        left: 8%;
    }
    .content h1{
        margin-top: 5%;
        font-size: 25px;
    }
    .content p{
        font-size: 15px;
    }
    .cityFooter{
        height: 90px;
    }
    .cityFooter img{
        height: 40px;
        margin-top: 0%;
    }
    .cityFooter p{
        font-size: 8px;
        margin-top: -2%;
    }
}
/*Small*/
@media screen and (min-width: 576px) and (max-width: 767px) {
    .navbar img{
        height: 70px;
    }
    .jumbotron h1{
        position: absolute;
        top: 20%;
        right: 5%;
        font-size: 36px;
    }
    .btn{
        width: 200px;
        height: 40px;
        font-size: 10px !important;
        text-align: right !important;
    }
    .btn img{
        height: 25px;
        width: 25px;
        margin-left: 0 !important;
    }
    .apple{
        position: absolute;
        top: 38%;
        left: 8%;
    }
    .google{
        position: absolute;
        top: 46%;
        left: 8%;
    }
    .content h1{
        margin-top: 5%;
        font-size: 40px;
    }
    .content p{
        font-size: 16px;
    }
    .cityFooter{
        height: 140px;
    }
    .cityFooter img{
        height: 70px;
        margin-top: 1%;
    }
    .cityFooter p{
        font-size: 12px;
        margin-top: -3%;
    }
}
/*Medium*/
@media screen and (min-width: 768px) and (max-width: 991px) {
    .navbar img{
        height: 80px;
    }
    .jumbotron h1{
        position: absolute;
        top: 25%;
        right: 8%;
        font-size: 44px;
    }
    .btn{
        width: 250px;
        height: 50px;
        font-size: 14px !important;
        text-align: right !important;
    }
    .btn img{
        height: 30px;
        width: 30px;
        margin-left: 0 !important;
    }
    .apple{
        position: absolute;
        top: 48%;
        left: 10%;
    }
    .google{
        position: absolute;
        top: 58%;
        left: 10%;
    }
    .content h1{
        margin-top: 5%;
        font-size: 45px;
    }
    .content p{
        font-size: 18px;
    }
    .cityFooter{
        height: 140px;
    }
    .cityFooter img{
        height: 80px;
        margin-top: 1%;
    }
    .cityFooter p{
        font-size: 14px;
        margin-top: -3%;
    }
}
/*Large*/
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .navbar img{
        height: 90px;
    }
    .jumbotron h1{
        position: absolute;
        top: 28%;
        right: 10%;
        font-size: 48px;
    }
    .btn{
        width: 275px;
        height: 60px;
        font-size: 15px !important;
        text-align: right !important;
    }
    .btn img{
        height: 40px;
        width: 40px;
        margin-left: 0 !important;
    }
    .apple{
        position: absolute;
        top: 52%;
        left: 10%;
    }
    .google{
        position: absolute;
        top: 65%;
        left: 10%;
    }
}