html {
    scroll-behavior: smooth;
}
body{
    background-color: #ffffff;
}
/*Top Navbar*/
.navbar{
    background-color: #33687b !important;
}
.navbar img{
    margin-top: 0 auto;
    margin-left: 2%;
}
/*Hero*/
.jumbotron{
    width: 100%;
    background-color: #3e7b91;
    padding-top: 1%;
    padding-bottom: 1%;
    padding: 1%;
    border-radius: 0;
}
.jumbotron img{
    width: 100%;
}
.jumbotron h1{
    position: absolute;
    top: 30%;
    right: 5%;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: -2px;
    color: #ffffff;
}
.btn{
    width: 300px;
    height: 70px;
}
.btn img{
    height: 50px;
    width: 50px;
    margin-right: 5%;
}
.apple{
    position: absolute;
    top: 60%;
    left: 15%;
}
.google{
    position: absolute;
    top: 75%;
    left: 15%;
}

/*Content*/
.content{
    margin-top: 3%;
}
.content h1{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: -2px;
    color: #282828;
    margin-left: 7%;
}